.container {
  max-width: 800px;
  margin: 0 auto;
}

.filters {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select {
  padding: 5px;
  font-size: 1rem;
}
